
.wrap{
    position: relative;
    background-color: rgb(205, 205, 205);
}
.main_wrap{
    position: absolute;
}
.mo_main_wrap{
    display: none;
}
.main_page{
    background-image: url(../img/main_background.png);
    position: relative;
}
.main_text_wrap{
    position: absolute;
    /* background-color: pink; */
    color: white;
}
.main_smile_icon_box{
    position: absolute;
    transform-style: preserve-3d;
    perspective: 100%;
}
.main_smile_icon{
    opacity: 0;
    background-image: url(../img/smileicon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main_smile_icon_box:hover div{
    background-image: url(../img/smile_sun_icon2.png);
    animation: swag 0.7s infinite;
}
.main_smile_music{
    font-family: 'Sam3KRFont';
    position: absolute;
    color: red;
    animation: music_swag 1s infinite;
    display: none;
}
.main_smile_music2{
    animation-delay: 0.5s;
}
.main_smile_icon_box:hover~.main_smile_music{
    display: block;
}
.main_blink{
    opacity: 0;
    animation: blink 1s infinite;
}
.main_blink2{
    opacity: 0;
    animation: blink 1s infinite;
}
@keyframes blink{
    to {
        opacity: 1;
    }
}
@keyframes swag{
    from{
        transform: translateY(0) rotateX(0deg);
    }
    40%{
        transform: translateY(-10%) rotateX(-50deg)
    }
    80%{
        transform: translateY(10%) rotateX(15deg)
    }
    to {
        transform: translateY(0) rotateX(0deg);
    }
}
@keyframes music_swag{
    0%{
        transform: translateY(0%);
        color:white
    }
    25%{
        color: red;
    }
    50%{
        transform: translateY(10%);
        color: blue;
    }
    75%{
        color: aqua;
    }
    100%{
        transform: translateY(0%);
        color: yellow;
    }
}
.main_bot_text_wrap{
    position: absolute;
    display: flex;
    transform-style: preserve-3d;
    perspective: 100%;
}
.main_bot_coin{
    position: absolute;
    background-image: url(../img/coin.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: coin_move 2s infinite;
    /* transform-origin: 50% 50%; */
}
.main_bot_text{
    position: absolute;
    color: white;
    font-family: 'DotGothic16', sans-serif;
}
@keyframes coin_move{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-30%) rotateY(540deg);
    }
    100%{
        transform: translateY(0%) rotateY(0);
    }
}

/* 소개페이지 */
.info_page{
    position: relative;
    background-color: rgb(205, 205, 205);
}
.page_tit{
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'Sam3KRFont';
    /* font-family: 'MiraeroNormal'; */
    /* font-family: 'DOSIyagiMedium'; */
}
.info_tit{
    color: black;
}
.info_box{
    border-bottom: 1px solid black;
    text-align: center;
    position: relative;
    overflow: hidden;
    /* background-color: pink; */
}
.info_box:nth-child(2){
   border-top: 1px solid black;
}
.info_move_box{
    position: absolute;
    width: 400%;
    height: 100%;
    display: none;
}
.info_text{
    width: 25%;
    height: 100%;
    /* background-color: yellow; */
    float:left;
}
.info_box:hover{
    color:rgba(0, 0, 0, 0)
}
.info_box:hover>.info_move_box{
    color: rgba(0, 0, 0, 1);
    display: block;
} 
.mo_info_box{
    display: none;
}

/* 기술페이지 */

.skill_page{
    position: sticky;
    top: 0;
    background-color: rgb(205, 205, 205);
    background-image: url(../img/main_background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* 스티키 사용할 경우 밑의 형제의 높이가 받쳐줘야댐(?) */
}
.skill_obj_wrap{
    position: absolute;
}
.skill_page img{
    display: block;
}
.skill_tit{
    position: absolute;
}
.skill_icon_box{
    position: absolute;
    transition-duration: 1s;
}
.skill_icon{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}
.skill_icon1{
    background-image: url(../img/htmlicon.png);
}
.skill_icon2{
    background-image: url(../img/cssicon.png);
}
.skill_icon3{
    background-image: url(../img/jsicon.png);
}
.skill_icon4{
    background-image: url(../img/jqueryicon2.png);
}
.skill_icon5{
    background-image: url(../img/psicon.png);
}
.skill_icon6{
    background-image: url(../img/aiicon.png);
}
.pac_all_wrap{
    position: absolute;
    /* background-color: gray; */
}
.pacicon_par{
    transform-style: preserve-3d;
    perspective: 100%;
}
.pacicon{
    position: absolute;
}
.pac_ghost_box{
    position: absolute;
    /* background-color: white; */
    transition-duration: 0.3s;
}
.ghost{
    position: absolute;
    animation: ghost 1s infinite;
}
.ghost1{
    animation-delay: 0s;
}
.ghost2{
    animation-delay: 0.5s;
}
.ghost3{
    animation-delay: 0.5s;
}
.ghost4{
    animation-delay: 0s;
}
@keyframes ghost{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}
.pacfood_box{
    float: right;
    /* background-color: white; */
 }
.pacfood{
    background-color: yellow;
    position: relative;
    transform:rotateZ(45deg);
    float: left;
}
.pacfood_off{
    background-color: rgba(0, 0, 0, 0)
}
/* 포폴페이지 */
.pofo_page{
    position: sticky;
    top: 0;
    background-color: rgb(200, 198, 198);
    background-image: url(../img/main_background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.pofo_tit{
    position: absolute;
}
.pofo_page>img{
    display: block;
    /* position: absolute;
    top: 0; */
}
.pofo_wrap{
    position: absolute;
    display: block;
}
.pofo_sub_tit{
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'MiraeroNormal';
}
.pofo_box_wrap{
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
}
.pofo_box_wrap_off{
    display: none;
}
.pofo_box{
    background-color: black;
}
.pofo_box img{
    opacity: 0.5;
}
.pofo_box:hover img{
    opacity: 1;
}
.pofo_select_wrap{
    position: absolute;
    display: none;
}
.pofo_select_wrap_on{
    display: block;
}
.pofo_select_box{
    transform-style: preserve-3d;
    perspective: 100%;
    position: absolute;
}
.pofo_select_arrow{
    background-image: url(../img/pofo_arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: arrow_ro 3s infinite;
}
@keyframes arrow_ro{
    0%{
       transform: rotateY(0); 
    }
    100%{
        transform: rotateY(360deg);
    }
}
.pofo_select_box2{
    position: absolute;
    background-image: url(../img/pofo_select.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.pofo_text_box{
    position: absolute;
    text-align: center;
    color: white;
}
.pofo_wrap_off{
    display: none;
}
/* 포폴페이지2 */
.pf_2_wrap{
    position: absolute;
    display: none;
    /* background-color: green; */
}
.pf_2_wrap_on{
    display: block;
}
.pf_2_left_box_off{
    display: none;
}
.pf_2_left_box{
    position: absolute;
    background-color: white;
    overflow: scroll;
    border: 2px solid gray;
}
.pf_2_right_box{
    position: absolute;
    color: white;
    font-family: 'DOSIyagiMedium';
    /* background-color: rgb(158, 158, 158); */
    /* border: 5px ridge white; */
    /* background-color: rgb(134, 133, 133); */
    /* border-radius: 5%; */
    /* box-sizing: border-box; */
}
.pf_2_right_name{
    /* border-bottom: 3px ridge white; */
    font-family: 'Sam3KRFont';
}
.pf_2_right_info{
   opacity: 0;
   /* font-family: 'Sam3KRFont'; */
    /* font-family: 'MiraeroNormal'; */
}

.pf_2_right_box_wrap{
    display: flex;
    text-align: center;
}
.pf_2_right_in_box{
    flex: 1;
    border: 3px ridge white;
    box-sizing: border-box;
}
/* .pf_2_right_in_box:not(:last-child){
    border-right: 3px ridge white;
} */
.cancle{
    position: absolute;
    /* background-color: red; */
    right: 0;
    /* opacity: 0; */
    background-image: url(../img/return.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.pf_2_left_box_2{
    background-color: red;
}
.pf_2_left_box_3{
    background-color: blue;
}
.mo_select{
    display: none;
}
/* 컨텍페이지 */
.contact_page_wrap{
    position: relative;
}
.contact_page{
    /* position: sticky; */
    top: 0;
    background-image: url(../img/main_background2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact_page_fix{
    position: fixed;
}
.contact_wrap{
    position: absolute;
}
.contact_box{
    position: absolute;
    color: white;
    /* background-color: white; */
}
.face_wrap{
    position: absolute;
}
.sunglasses{
    position: absolute;
    display: none;
}
.sungl_on{
    display: block;
}
/* 논 페이지 */
.none_page{
    position: sticky;
    top: 0;
}
